body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    background-color: #9CD581; 
    color: black;
    font-family: Georgia, serif;

}


.search-container {
    width: 90%;
    max-width: 800px;
    background-color: #BAF7EC;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


#title-text {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: center;
}

#authorName { 
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1B70B1; 
    margin-bottom: 10px;
}


.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#titleInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    font-size: 1rem;
}


.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#searchButton { 
    font-size: 16px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1B70B1;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #0056b3;
}



/* loader extenstion styl */
.loader {
    border: 6px solid #e0e0e0; 
    border-top: 6px solid #007bff; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: none; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


